<footer class="footer bg-dark py-5 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-light">
                    <a href="/campgrounds"  style="text-decoration: none;color: aqua;">Back to top of main page</a>
                </p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="text-light mb-5">&copy; Yelpcamp VSK</p>
                <p class="text-light ">Developed by</p>
                <p class="text-light ">Vinit Sikri</p>
                <p class="text-light"> vinitsikri80@gmail.com</p>
            </div>
        </div>
    </div>
</footer>
